body{
	font-family: 'Raleway', sans-serif;
	background-image: url("https://www.freegreatpicture.com/files/147/8964-background-color.jpg");
	
}

.hi{
	color: white;
	margin-top: 15px
	
}

.mission{

	color: white;
	margin-left: 50px;
	margin-top: 150px;
	font-family: 'Raleway', sans-serif;

}



.hello{
	font-family: 'Raleway', sans-serif;
}

.imageimage{
	margin-left: 100px;
	height: 400px
}