h1 {
	color: white !important

}
img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.col-sm{
	height: 200px;
}

.flex{
	height: 150px;
	width: 200px;

}

.amazon{
	height: 100px;
	width: 250px;
}

.google{
	width: 330px;
}
.row{
	margin: 50px;
}

.youtube{
	height: 200px;
	width: 250px;
}